@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="card-deck">
    @foreach (var product in Model)
    {
        <a href="@Url.Action(product.Name, "Home")">
            <div class="card border-primary mb-4" style="min-width: 300px; max-width: 300px;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@product.Supplier</h6>
                </div>
            </div>
        </a>
    }
    </div>